/****** Main Styling ******/

body {
  font-size: 16px;
  background-color: #eee;
  text-align: center;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.container {
  padding: 0;
  margin-top: 40px;
}

.footer {
  margin-top: 60px;
}

a {
  color: #2574a9;
}

input {
  display: block;
  position: relative;
  margin: 10px auto;
}

input#button {
  width: 230px;
}

h1,
h2 {
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  text-decoration: underline;
}
fieldset {
  border-width: 2px;
  border-style: groove;
  border-color: rgb(192, 192, 192);
}
legend {
  float: none;

  width: auto;
  padding: 0 10px; /* To give a bit of padding on the left and right */
  border-bottom: none;
}
form {
  width: 100%;
  max-width: 500px;
  margin-inline: auto;
}

#inputfield {
  width: 100%;
  max-width: 400px;
}
.requirements img {
  width: 100%;
  max-width: 800px;
  margin-inline: auto;
}
